
// GENERIC

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}


@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


// Underline

.underlined{
	display: block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.underlined::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color:$color-accent;
	transform: translate3d(-100%, 0, 0);
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}

.underlined:hover::after, .underlined:focus::after{
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

// PADDING
.shrink-padding-animation{
	animation-name: shrinkPadding;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.expand-padding-animation{
	animation-name: expandPadding;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

@keyframes shrinkPadding{
	0%{
		padding-bottom: 1em;
		padding-top: 1em;
	}
	100%{
		padding-bottom: 5px;
		padding-top: 5px;
	}
}

@keyframes expandPadding{
	
	0%{
		padding-bottom: 5px;
		padding-top: 5px;
	}

	100%{
		padding-bottom: 1em;
		padding-top: 1em;
	}
}

// LOGO
.logo-animation {
	animation-name: logoAnimation;
	animation-iteration-count: 2;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

.logo-animation:hover {
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-play-state: running;    
}

@keyframes spinAnimation {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}



/* PULSE FOR BORDER OF TRANSPARENT PNG */
@keyframes pulse-accent{
    from { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
    }
    50% { 
        /* border-color: #91bd09;  */
        -webkit-filter: drop-shadow (0 0 2px $color-accent)
        drop-shadow(1px -1px 2px $color-accent);
        filter: drop-shadow(1px 1px 2px $color-accent) 
        drop-shadow(-1px -1px 2px $color-accent);
     }
    to { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 10px rgba(51, 51, 51, 0))
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0 rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0)); 
    }
}
