
// $color-primary: #C7DADB;
$color-primary: #C0BEBC;
$color-secondary: #f3efeb;
$color-tertiary: #f3efeb;

// $color-accent: #FFE6CE;  // original
// $color-accent: #f5a623;
// $color-accent: #cddc39;
$color-accent: #73cef9;

$color-neutral-dark: #475158;
$color-darker: #3A4856;

$color-darkest: #191716;
$color-darkest-transparent: #f8e3d01c;
// $color-darkest: #3c312c;
// $color-darkest: #070d10;
// $color-darkest: #0f0e0e;


$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-xl: 15px;


$font-size-xxs: .5rem;
$font-size-xs: .75rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;
$font-size-header: 6rem;