
$color-primary: #C7DADB;
$color-secondary: #C7DADB;
$color-accent: #d3f6e0;
// $color-accent: #47A7E6;
// $color-accent: #6CFACD;
$color-neutral-dark: #475158;
$color-darker: #3a4856;

$color-darkest: #191716;
// $color-darkest: #3c312c;
// $color-darkest: #070d10;
// $color-darkest: #0f0e0e;
$color-neutral-light:#FAF7FF;


$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-xl: 15px;


$font-size-xxs: .5rem;
$font-size-xs: .75rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;
$font-size-header: 6rem;